body {
  margin: 0;
  background-color: beige;
} 

/* 프로필 이미지 */
.img {
  justify-content: center;
}
#porfile-img {
width: 150px;
height: 150px;
border: 1px solid #2B3856;
transform: scale(1); /* 이미지 사이즈 고정 */
border-radius: 70%
} 

.menu-bar {
  position: fixed;
  border: 0;
  background-color:plum;
  display: block;
  width: 200px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.index {
  text-align: center;
  display: flex;
  flex-direction: column;
}
/* 목차 */
.index h3 {
  color:ivory;
  opacity: 0.7;
  text-decoration: none;
  cursor: pointer;
}
/* 목차 각 항목 반응형 커서 */
.index h3:hover {
  font-size: 1.1em;
  opacity: 1;
  text-shadow: 0.7px 0.7px 0.7px #000;
}
.name {
  font-size: 65px;
  font-weight: 900;
  font-family: 'Oswald', sans-serif;
}
.contacts {
  font-size: 15px;
  opacity: 0.5;
  font-family: 'Roboto Mono', monospace;
  font-style: italic;
}
.main-introduction {
  font-size: 17px;
  font-family: 'Noto Sans KR', sans-serif;
  opacity: 0.8;
}

section {
  margin-left: 260px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.experience img {
  margin-right: 7px;
  margin-top:10px;
  border: 3px;
  border-style: solid;
  border-color:deeppink;
  border-image-outset: 10px;
  width: 150px;
  height: 150px;
}
.Skills img {
  margin-right: 7px;
  margin-top:10px;
  border: 3px;
  border-style: solid;
  border-color:deeppink;
  border-image-outset: 10px;
  width: 150px;
  height: 150px;
}
/* 커서 올릴 시 이미지 크게(모든 이미지 파일에 적용) */
img:hover {
   transform: none;
    -webkit-transform: none; /* 크롬 */
    -moz-transform: none; /* 파이어폭스 */
    -o-transform: none; /* 오페라 */
    z-index: 1;
    align-items: center;
  
}

.experience p{
  font-size: 55px;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
}
.Skills p{
  font-size: 30px;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
}
/* for layout */
.contents1 {
  width: 700px;
}
.contents2 {
  width: 700px;
  margin-left: 120px;
  margin-top: 30px;
}
/* 일한 기간 */
.year {
  font-family: 'Oswald', sans-serif;
  font-size: 17px;
  opacity: 0.5;
}
.whatilove-text {
  font-size: 55px;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
}
.whatilove-img {
  margin-bottom: 20px;
}
.whatilove-img img {
  width:150px;
  height: 150px;
  border: 2px solid deeppink;
  border-image-outset: 10px;
}
/* 하단 코멘트 */
.interests .comment {
  font-size: 16px;
  font-style: italic;
}
.experience {
  font-size: 17px;
  font-family: 'Noto Sans KR', sans-serif;
  opacity: 0.8;
}
